{{ template "base" . }}

{{ define "title" }} / {{ .placename }}{{ end }}

{{ define "content" }}

{{ include "includes/place-header.html" . }}
{{ if .altnames }}
{{ include "includes/alternative-names.html" . }}
{{ end }}
{{ if .offnames }}
{{ include "includes/offensive-names.html" . }}
{{ end }}

<div class="my">
A {{ include "includes/link-list.html" .types }}
{{ if .counties }}
in {{ include "includes/link-list.html" .counties }}
{{ end }}
</div>

{{ include "includes/place-description.html" . }}
{{ include "includes/place-maps.html" . }}

{{ end }} {{/* end content */}}
